<a href="https://colab.research.google.com/github/Diogo-code/Data-Mining-Diogo/blob/main/Pandas_assignmentipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
!pip install pandas==1.3.0
import pandas as pd

Requirement already satisfied: pandas==1.3.0 in /usr/local/lib/python3.7/dist-packages (1.3.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.0) (1.15.0)

In [ ]:
pd.__version__

'1.3.0'

In [ ]:
#Upload the Iris dataset here

from google.colab import files
uploaded = files.upload()

Saving tableconvert_xml_1dxz8d-1.xml to tableconvert_xml_1dxz8d-1.xml

In [ ]:
dtcsv = pd.read_csv('tableconvert_csv_so70jx.csv')
dtjson = pd.read_json('/content/tableconvert_json_f0acan-1.json')
dtxml = pd.read_xml('/content/tableconvert_xml_1dxz8d-1.xml')
dtcsv.head(20)

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa

In [ ]:
#Reading a pandas dataframe to a numpy array
#dtcsv.groupby('variety')['petal.length'].std()
numpyarray = dtcsv.to_numpy()
numpyarray
pandadf = pd.DataFrame(numpyarray, columns = ['sepal.length','sepal.width','petal.length','petal.width','varity'])
pandadf

    sepal.length sepal.width petal.length petal.width     varity
0            5.1         3.5          1.4         0.2     Setosa
1            4.9         3.0          1.4         0.2     Setosa
2            4.7         3.2          1.3         0.2     Setosa
3            4.6         3.1          1.5         0.2     Setosa
4            5.0         3.6          1.4         0.2     Setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  Virginica
146          6.3         2.5          5.0         1.9  Virginica
147          6.5         3.0          5.2         2.0  Virginica
148          6.2         3.4          5.4         2.3  Virginica
149          5.9         3.0          5.1         1.8  Virginica

[150 rows x 5 columns]

In [ ]:
#Writing the dataframe from csv to json and xml
csvtojson = dtcsv.to_json('csvtojson.json')
csvtoxml = dtcsv.to_xml('csvtoxml.xml')

In [ ]:
#Writing the dataframe from json to csv and xml
jsontocsv = dtjson.to_csv('jsontocsv.csv')
jsontoxml = dtjson.to_xml('jsontoxml.xml')

In [ ]:
#Writing the dataframe from xml to json and csv
xmltojson = dtxml.to_json('xmltojson')
xmltocsv = dtxml.to_csv('xmltocsv')